/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  .eventCardContent,
  .businessCardContent,
  .sectionContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .eventCardContent img,
  .businesscardImgContainer img {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    object-fit: cover;
  }
  .localBusinesses.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }
  .threeDayForcastContainers {
    max-width: 25rem;
  }
  .membershipLevelCards {
    max-width: 50%;
  }
}
