body {
  background-color: #ebebeb;
  font-family: "Public Sans", sans-serif;
  color: #3d3d3d;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #278f78;
  letter-spacing: 0.1rem;
  text-align: center;
}

header {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: auto;
}
.weatherDetails, .businesscardTextContainer, .eventCardContent p {
	background: #274b8f;
	color: #ebebeb;
	padding: 1rem 2rem;
	border-radius: 2rem;
}
.businesscardTextContainer p {
	margin: 0;
	word-break: break-all;
}
.responsiveHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.threeDayForcastContainers {
	display: grid;
	grid-template-columns: repeat(2,auto);
	align-items: center;
	gap: 5rem;
	background: #274b8f;
	color: #ebebeb;
	border-radius: 2rem;
	margin: 5rem auto;
}
.forcastDay1, .forcastDay2, .forcastDay3 {
	color: #ebebeb;
}
.forcastTextContainer p {
	text-align: center;
}
.threeDayForcastContainers img {
	width: 70%;
	justify-self: end;
	padding: 0.5rem;
}
footer {
  background-color: #3d3d3d;
  color: #ebebeb;
}
main, .contactInfo {
  max-width: 75%;
  margin: 0 auto;
}
.headerNav {
  display: flex;
  flex-flow: column;
  align-items: center;
}
section {
	margin: 5rem auto;
}
p {
  line-height: 2em;
  letter-spacing: 0.1rem;
}
nav.hide {
  display: none;
}

ul {
  list-style: none;
}

.headerNav ul li {
  text-align: center;
  font-size: 2rem;
  margin-top: 40%;
}
.headerNav ul li a {
  color: #3d3d3d;
}

a {
  text-decoration: none;
}
.buttonContainer {
  position: relative;
  cursor: pointer;
  height: 27px;
  width: 35px;
  background: none;
  border: none;
  z-index: 2;
}

.buttonContainer span {
  background: #278f78;
  border: none;
  border-radius: 15rem;
  height: 4px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: 200ms ease-in;
}
.top.active {
  transform: translateY(11px) translateX(0) rotate(45deg);
  transition: 200ms ease-in;
}
.middle.active {
  opacity: 0;
  transition: 200ms ease-in;
}
.bottom.active {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  transition: 200ms ease-in;
}
.buttonContainer span:nth-of-type(2) {
  top: 11px;
}
.buttonContainer span:nth-of-type(3) {
  top: 22px;
}
.heroSection {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroImg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.heroImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.pageTag h1 {
  text-align: center;
  color: #ebebeb;
}
button {
  background-color: transparent;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
}

main img {
	border-style: none;
	width: 100%;
	object-fit: cover;
}
.eventCardContent {
	display: grid;
	grid-template-rows: auto;
}
.eventCardContent img, .businesscardImgContainer img {
	width: 10rem;
	height: 10rem;
	padding: 1rem;
  object-fit: cover;
  justify-self: center;
}

.contactInfo {
  padding: 1rem;
}
button a {
	font-size: 2rem;
	color: #ebebeb;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.localEvents > ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.carousel {
  position: relative;
  width: 100%;
  height: 40rem;
  margin-bottom: 1rem;
}

.eventCards, .businessCards {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 100ms opacity ease-in-out;
  transition-delay: 100ms;

}
.eventCards[data-active], .businessCards[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button-container {
  display: grid;
  grid-template-columns: repeat(2,auto);
}
.carousel-button {
  background: none;
  border: none;
  font-size: 4rem;
  color: #3d3d3d;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0;
}
.carousel-button:hover,
.carousel-button:focus{
  background-color:#274b8f;
  color: #ebebeb;
  
}
.membershipLevelCards, fieldset {
	background-color: #274B8F;
	color: #ebebed;
	padding: 1rem 1.5rem;
	border: none;
	border-radius: 2rem;
	margin: 5rem auto;
}

.submitBtn {
	background-color: #ebebeb;
	border: none;
	padding: 1rem;
	border-radius: 2rem;
	margin: 0 auto;
	width: 75%;
}
.membershipLevelCards ul {
	list-style: unset;
	padding: 0.75rem;
	line-height: 1.5rem;
}
h4 {
	text-align: center;
}
.membershipLevelCards p {
	text-align: center;
}