
body {
  background: #d3daf5;
  background: linear-gradient(90deg, #d3daf5 0, #C5f2ed 58%);
font-family: "Josefin Sans", sans-serif;
}
.containerBox {
  position: relative;
  background: rgba(255,255,255,0.5);
  margin: 5rem auto;
  max-width: 70rem;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(52,84,209,0.5);
  backdrop-filter: blur(30px);

}
header,
footer {
  text-align: center;
  background: rgba(52,84,209, 0.6);
  color: white;
  padding: 0.1rem;
}
div#profilePicBox{
  position: absolute;
    top: 2rem;
    right: 1.25rem;
    width: 15rem;
    height: 100%;
  }
  img {
    width: 100%;
    box-shadow: 0 0 30px gray;

}
main {
  width: 100%;
  padding: 2rem 0;
}
  h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

h2 {
  padding: 0 2rem;
}
ul {
  padding: 0 3rem;
}
.footerText {
  text-align: center;
  font-size: 0.75rem;
}
a#footerLink:link {
  color: white;
}

#lastUpdatedText {
  color: #a6ff01;
}
