html {
  margin: 10px;
  font-family: sans-serif;
}
header,
main,
footer {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 45rem;
}
header {
  margin-top: 10px;
}
header,
footer {
  text-align: center;
  background-color: #306b34;
  color: white;
}
header img {
  width: 200px;
  float: right;
  box-shadow: 0 0 30px gray;
  height: auto;
}
h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.footerText {
  text-align: center;
  font-size: 0.75rem;
}
a#footerLink:link {
  color: white;
}

#lastUpdatedText {
  color: #a6ff01;
}
