body {
display:flex;
align-items: center;
justify-content: center;
}

div {
    width: 200px;
    height: 200px;
    margin: 3rem;
}

div.box1 {
    background: blue;
}

div.box2 {
    background: chocolate;
    transition: 500ms border-radius ease-in;
}

div:hover {
    border-radius: 50%;
}