/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  nav {
    display: flex;
    justify-content: center;
  }

  nav button {
    display: none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul {
    margin-left: 2%;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }
  header {
    display: flex;
    justify-content: center;
  }
  header img {
    justify-content: end;
  }
  #weatherSummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgba(25, 56, 22, 0.2);
    border-radius: 10px;
    z-index: 2;
    border: none;
    backdrop-filter: blur(2.5px);
    padding: 2%;
  }
  #weatherSummaryHeader {
    color: white;
    margin-bottom: 0.5rem;
  }
  div#weatherDetails {
    background: none;
    padding-top: 0.25rem;
  }

  .fiveDayForecastIcons {
    display: flex;
    justify-content: space-evenly;
  }
  img.forcastIcons {
    width: 10%;
  }
  img#articleImg {
    float: right;
    right: 5rem;
    width: 25%;
    padding: 0 1rem;
  }
  /* CSS RULES FOR THE GALLERY PAGE */
  .galleryContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}
 
 
 /* CSS RULES FOR THE FOOTER */
  img.socialMediaLink {
    width: 5%;
  }
} /*end medium */
