/* The Header */
header {
display: flex;
  flex-direction: column;
  margin: 0 2%;
}
header div#banner {
  padding: 0.75rem;
  background: #1a3820;
  font-family: "Poiret One", curisve;
  color: #fff;
  letter-spacing: 0.25rem;
  font-size: 0.85rem;

  text-align: center;
  display: none;
}
.logoAndTitleContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

header img {
  margin: 0.5rem;
  padding: 0.2rem;
}
header h1 {
  color: #55a630;
  font-family: "Poiret One", cursive;
  padding: 0.2rem;
  margin-bottom: 0;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
}
#motto {
  padding: 0.2rem;
  font-size: 0.65rem;
  /* text-align: center; */
  font-family: "Lato", sans-serif;
  color: #1a3820;
}
/* The navigation bar */

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #fff;
}

nav {
  background-color: #1a3820;
  font-family: "Poiret One", cursive;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  transition: background-color 400ms ease-in-out;
}
nav ul li a {
  display: block;
  padding: 1.75rem 2%;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
}
nav ul li.active {
  background-color: #55a630;
}
nav ul li:hover {
  background-color: #ef233c;
}
nav ul.hide {
  display: none;
}

main {
  margin: 0 auto;
}

/* The Hero Image */
#weatherSummarySection {
  margin: 10px auto;
  position: relative;
}

#heroImage img, #responseImage img {
  display: block;
  width: 96%;
  margin: 0 2%;
}
div#weatherDetails {
  font-family: 'Poiret One', sans-serif;
  padding: 0.75rem;
  background: #1a3820;
  color: #fff;
  letter-spacing: 0.25rem;
}

/* The Main Section  */
h2,
h3 {
  font-family: "Poiret One", cursive;
  text-align: center;
  color: #294f17;
  letter-spacing: 0.25rem;
}
#weatherSummary {
  margin: 0 2%;
}
h2 {
    font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
.fiveDayForecastIcons {
  display: none;
}
section#fiveDayForecastSection {
  background-color: #294f17;
  margin: 0 2%;
}
section#fiveDayForecastSection h3 {
  color: #fff;
}
section#fiveDayForecastSection, article, #fourmResponse {
    font-family: "Lato", sans-serif;
    padding: 1.5rem;
    margin: 10% 2%;
}
#articleImg {
  width: 100%;
}

/* CSS RULES FOR THE GALLERY PAGE */
.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
picture {
  width: 85%;
}
img.galleryPics {
  width: 100%;
  transition: box-shadow 200ms ease-in-out;
}

img.galleryPics:hover {
  box-shadow: 0 0 50px #1a3820;
}

.picCaption {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.25rem;
  color: #1a3820;
  padding: 1rem;
}

/* CSS RULES FOR THE FOURM PAGE*/
form {
	margin: 5% 2%;
}
fieldset {
  margin-bottom: 15%;
  background: #1a3820;
  border: none;
  border-radius: 2rem;
}
.forumTop , .forumSbs {
	display: block;
	/* margin: 3% 2%; */
	font-family: "Poiret One",cursive;
	font-size: 1.5rem;
  color: #fff;
	letter-spacing: 0.15rem;
	padding: 1rem;
}
.forumTop input {
  display: block;
  margin: 3% 0;
  padding: 0.75rem;
  width: 100%;
  max-width: 20rem;
  border-radius: 1.5rem;
  border: none;
  background: rgba(255, 255,255,0.1);
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  color: #fff;
}
.forumSbs input {
  margin: 3% 0;
  padding: 0.75rem;
}
.forumTop input:required {
  background: rgba(239, 35, 60, 0.4); 
}
.forumTop input:required:valid{
  background: rgba(85, 166, 48, 0.4);
}

.submitBtn {
  margin: 5% 0;
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
  background: #1a3820;
  color: #fff;
  font-family: "Poiret One", cursive;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  transition: 250ms background ease-in-out;
}

.submitBtn:hover {
  background: #55a630;
}
select {
  
	font-family: "Poiret One",cursive;
	display: block;
	margin: 5% 0;
	padding: 0.75rem;
	border-radius: 1.5rem;
	border: none;
	background: rgba(0,0,0,0.1);
}
#comments {
	
  margin: 5% 0;
}

/* The Footer */
footer {
  background-color: #1a3820;
  padding: 1rem;
}
footer div,
footer section {
  font-family: "Poiret One", cursive;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem;
  letter-spacing: 0.25rem;
}
#locationMap {
  width: 100%;
}
footer div {
  text-align: center;
}
h3#contactInfoHeader {
  color: #55a630;
  font-size: 1.75rem;
}
div#socialMediaContainer {
  display: flex;
  justify-content: space-evenly;
}
img.socialMediaLink {
  width: 15%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
