/* ---------------------------------------------THE BEAUTFIUL WEATHER CSS STYLESHEET--------------------------------------------------------------- */

/* ---------------------------------------------CSS RULES FOR MOBILE DEVICES------------------------------------------------------------------ */

/* ---------------------------------------------CSS RULES SHARED THROUGHOUT THE PAGES--------------------------------------------------------- */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.75rem;
  letter-spacing: 0.15rem;
  color: #1a3820;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
  text-align: center;
  color: #294f17;
  padding: 1rem;
  letter-spacing: 0.25rem;
  line-height: 3rem;
}

.logoAndTitleContainer,
main,
.mapAndContactInfoContainer,
.footerBar {
  margin: 0 2rem;
}

nav,
section,
.fiveDayforcastContainers h3,
.fiveDayforcastContainers p,
footer {
  background-color: #1a3820;
}

a,
section,
section h2,
section h3,
hr,
footer {
  color: #fff;
}

.logoAndTitleContainer {
  display: grid;
  grid-template-columns: 2rem 1fr;
}
.logoAndTitleContainer img,
.titleAndMotto,
.fiveDayforcastContainers {
  display: flex;
}
.titleAndMotto,
.fiveDayforcastContainers {
  flex-direction: column;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
}
/* ---------------------------------------------CSS RULES SPECIFIC TO THE TOWN PAGES--------------------------------------------------------- */

.banner {
  display: none;
}

.logoAndTitleContainer img {
  justify-self: center;
  align-self: center;
  width: 5rem;
}

picture img {
  width: 100%;
}

nav button span,
.fiveDayforcastContainers {
  background: #fff;
}

/*----------------------------------------------HEADER----------------------------------------------------------------------------------------*/

.weatherDetails {
	padding: 1rem 2rem;
}

/* .fiveDayforcastContainers p {
  padding: 1rem;
} */

.upcomingEvents p {
  padding: 1rem 2rem;
  margin: 0;
}
nav button {
  margin: 1rem 5%;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  height: 27px;
  width: 35px;
  position: relative;
  
  
}
nav button span {
  border: none;
  border-radius: 15rem;
  height: 4px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: 200ms ease-in;
}
nav button span:nth-of-type(2) {
  top: 11px
}
nav button span:nth-of-type(3) {
  top: 22px
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 1.75rem 5%;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

h3 {
  font-size: 1.75em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0;
}
.fiveDayforcastContainers img {
  width: 25%;
}

cite a {
  color: #1a3820;
}
.motto {
	margin-bottom: 2rem;
}

.socialMediaContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 3rem 0;
}

nav ul li {
  transition: background-color 400ms ease-in-out;
}

nav ul li.active {
  background-color: #fff;
}
nav ul li a.active {
  color: #1a3820;
} 
nav ul li:hover{
  background-color: #55a630;
}
nav ul li a:hover{
color: #fff;
}
nav ul.hide {
  display: none;
}
.buttonContainer span:nth-of-type(2){
  top: 11px;
}
.buttonContainer span:nth-of-type(3){
  top: 22px;
  
}
.top.active {
  transform: translateY(11px) translateX(0) rotate(45deg);
  transition:  200ms ease-in;

}
.middle.active  {
  opacity: 0;
  transition:  200ms ease-in;
}
.bottom.active {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  transition:  200ms ease-in;
}
article p {
  margin-bottom: 3rem;
  line-height: 2.25rem;
  text-indent: 3rem ;
}
article p:first-of-type {
  text-indent: 0;
}