body {
  font-size: 16px;
  margin: auto;
}
/* Navigation Bar */
header,
footer {
  background-color: #031e26;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
nav {
  background-color: #031e26;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Poiret One", cursive;
}
nav a:hover {
  color: #4cc9f0;
}
.active {
  color: #4cc9f0;
  font-weight: bold;
}
/* Main Body of the Page */
h1 {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Poiret One", cursive;
}

p {
  font-family: "Loto", sans-serif;
}
#targetAudienceSection {
  background-color: #031e26;
  color: white;
  padding: 5px;
  text-align: center;
}

#targetAudienceSection article {
  font-size: 0.75rem;
  line-height: 20px;
}
#personaSection {
  margin: 1rem;
}
#personaSection h2,
#personaSection h3,
#scenarioSection h2,
#scenarioSection h3,
#siteNameSection h2,
#purposeSection h2,
#siteLogoSection h2,
#siteDomainSection h2 {
  text-align: center;
  letter-spacing: 5px;
}
#personaSection h2,
#scenarioSection h2 {
  background-color: #4cc9f0;
  padding: 2.5rem;
}
#personaSection article,
#scenarioSection article,
#siteNameSection p,
#purposeSection p,
#siteLogoSection img,
#siteDomainSection p {
  margin: 5rem 2rem 5rem 2rem;
}
#personaSection article p,
#scenarioSection article p
{
  font-size: 0.7rem;
  line-height: 30px;
}
/* Table */
#typographyTable,
#colorSchemeTable {
  margin: auto;
  width: 50%;
}
td {
  border: 2px solid black;
  padding: 0.5rem;
}
#primary {
  color: #55a630;
  font-size: 64px;
  font-family: sans-serif;
}

#textColor {
  color: #182f0e;
  font-size: 24px;
}

#samplecolor1,
#sampleText1 {
  background-color: #55a630;
}

#samplecolor2,
#sampleText2 {
  background-color: #bc4452;
}

#samplecolor3,
#sampleText3 {
  background-color: #1a3820;
}
.samplecolor4 {
  background-color: #294f17;
}
#samplecolor5 {
  background-color: #182f0e;
}
#sampleText1 {
  color: white;
  font-size: 40px;
  font-family: "Poiret One", cursive;
}

#sampleText2 {
  color: white;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}

#sampleText3 {
  color: white;
  font-size: 20px;
  font-family: "Poiret One", cursive;
}

#sampleText4,
#sampleText5,
#sampleText6 {
  color: #294f17;
  font-family: "Poiret One", cursive;
}

#sampleText4 {
  font-size: 30px;
}

#sampleText5 {
  font-size: 25px;
}

#sampleText6 {
  font-size: 20px;
}

#sampleText7 {
  color: #182f0e;
  font-size: 16px;
  font-family: "Loto", sans-serif;
}
/* Tablet View */
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
  }
  #targetAudienceSection {
    font-size: 0.75rem;
  }
  #targetAudienceSection article p {
    font-size: 0.8em;
  }
}
/* Desktop View */
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    font-size: 1.1rem;
  }
}
