table {
    border: black;
}
#primary {
    color: #55a630;
    font-size: 64px;
    font-family: sans-serif;
}

#textColor {
    color: #182f0e;
    font-size: 24px;

}

#sample1 {
    background-color: #55a630;
    color: white;
    font-size: 40px;

}


#sample2 {
background-color: #bc4452;
color: white;
    font-size: 30px;
}



#sample3 {
background-color: #1a3820;
color: white;
font-size: 20px;
}



#sample1 {

}


#sample7 {
    color:#182f0e;
        font-size: 16px;
}

